:root {
    --text-color: #00b39b;
    --text-gray: #ababab;
    --sec-grey: #747474;
    --aboutUs-color: #d0faf4;
    --patients-color: #00ccb1;
    --doctors-color: #3d83df;
    --clinics-color: #1b2734;;
    --roboto : 'Roboto', sans-serif;
    --work-sans: 'Work Sans', sans-serif;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

        /* NAVIGATION BAR */
header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    font-family: var(--roboto);
    padding: 1em;
}

header img {
    width: 268px;
    height: 33px;

}


ul {
    display: flex;
    gap: 1rem;
    padding: 0.8rem;

}

ul li {
    list-style-type:none;
    display: inline;
}

ul > li a {
    text-decoration: none;
    font-size: 1.025rem;
    color: var(--text-gray);
    font-weight: 400;
}

ul > li:nth-child(1) > a {
    color: var(--text-color);
}

        /* First Home page */
.wrapper {
    margin: 80px 0 0;
    text-align: center;


}   

.wrapper img {
    width: 40px;
    height: 40px;
}

.wrapper > p {
    color: var(--text-color);
    font-size: 2rem;
    font-family: var(--work-sans);
    font-weight: 300;
    letter-spacing: -0.3px;
    margin-top: .5em;
}

.heading-text {
    display: grid;
    grid-template-columns:220px 1fr 1fr 220px;
    margin-top: 2em;
    font-size: 1rem;

}

.heading-text > p:nth-child(1){
    grid-column: 2 / 3;
}

.heading-text p {
    font-size: 1.12em;
    
    margin: 0 0 0 5px;
    text-align: left;
    max-width: 50em;
    color: var(--sec-grey);
    line-height: 1.5em;
}
#para1 {
    padding: 0 60px 32px 10px;
}

#para2 {
    padding-left: 0px;
    padding-right: 50px;
}

        /* Second Home page section  */
.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    line-height: 1.2;
    width: 70%;
    font-size:1.5em;
    margin: 1.7rem auto 2.5rem;
    font-weight: 300;

}


.patient,
.doctors,
.clinics {
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em 0;
    justify-content: space-between;
    height: 345px;
    font-family: var(--work-sans);
    border-radius: 10px;
    color: #ffff;
    width: fit-content;
}


.patient {
    background-color: var(--patients-color);   
}

.doctors {
    background-color: var(--doctors-color) ;
}

.doctors .tag {
    width: fit-content;
}

.clinics {
    background-color: var(--clinics-color);
}

.clinics .tag {
    margin: 0.625rem 0 0 0;
}

.clinics .tag + p {
    margin-top: 0.8rem;
}

.clinics select {
    margin-top: 3rem;
}

.clinics br + select {
    margin-top: -25px;
    margin-bottom: 30px;
}

.tag {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.3em 0;
}

.tag-description {
    font-size: 1.3125rem;
}

select {
    font-size: 1.3125rem;
    border: none;
    font-family: var(--work-sans);
    font-weight: 100;
    margin-top: 3.5em;
    color: white;
    text-decoration: underline;
}

.patient select {
    background-color: var(--patients-color);
}

.doctors select {
    background-color: var(--doctors-color);
}

.clinics select {
    background-color: var(--clinics-color);
}


/* Third Home page section */
.brands img {
    width:7.5em;
    height: fit-content;
}

.home-page3 {
    display: grid;
    grid-template-columns:220px 1fr 1fr 300px;
}

.home-page3 > div  {
    grid-column: 2 / 3; 
}

.home-page3 .brands {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    column-gap: .5em;
    row-gap: 4.5em ;
    margin-bottom: 2.5em;
    font-size: smaller;
}

.home-page3 .brands > img:nth-last-child(3) {
    margin-top: -25px;
}

.home-page3 div > p {
   font-size:  1.625em;
   font-family: var(--work-sans);
   color: var(--patients-color);
   font-weight: 300;
   padding: 0 2em;
}

/* AboutUS page */
.section2 img   {
    height: 40px;
}

.aboutUs-container, .aboutUS {
    background-color: var(--aboutUs-color);
    display: flex;
}

.aboutUS {
    margin-left: 13.75em;
    padding-top: 3em;
}

.section1 > img {
    margin-left: -60px;
    
}
.section1 h2 {
    font-size: 1.875em;
    color: var(--text-color);
    font-family: var(--work-sans);
    font-weight: 300;
    padding-right: 8em;
    margin-top: 1.25rem;
}

.section1 p {
    font-family: var(--work-sans);
    padding: 20px 100px 50px 0;
    margin: 0 0 0.625rem;
    font-size: 15px;
    line-height: 1.5;
    color: var(--sec-grey)
}

.section2 {
    display: flex;
    gap: 1rem;
    padding: 0 230px 0 0;
}
.box-wrapper1{
    display: flex;
    flex-direction: column; 

}

.box-wrapper2 {
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
    gap: .3em;
    margin-left: 5px;
}


.section2 img {
    width: 25px;
    height: 25px;
    margin-bottom: 1em;
}
.section2 h3 {
    font-family: var(--work-sans);
    font-weight: 300;
    padding: 0 0.125rem 0 0.125rem;
    font-size: 1.6em;
    color: var(--text-color)
}

.box1, .box2, .box3, .box4 {
    background-color: #fff;
    text-align: center;
    margin: 10px;
    width: 220px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2 p {
    color: var(--sec-grey);
    font-size: 0.7em;
    font-weight: 400;
    font-family: var(--roboto);
    padding: 10px 2px;
}

/* ### Department Page styling ### */

.department-header {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.department-header h3 {
    font-size: 2em;
    font-family: var(--work-sans);
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.department-header p {
    font-family: var(--roboto);
    font-weight: 400;
    color: var(--sec-grey);
    padding: 0 25rem 0 25rem; 
    line-height: 1.7;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 100px 150px 100px 150px;
}

.tag {
    display: flex;
    font-family: var(--roboto);
    justify-content: space-between;
}

.tag p {
    padding: 0 20px;
    color: var(--sec-grey);
    font-size: medium;
}


.tag button {
    font-size: .45em;
    padding: 10px;
    margin-right: 20px;
    background-color: var(--doctors-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 1px;
}

.tag button:hover {
    cursor: pointer;
}


.department-footer {
    text-align: center;
    margin: auto;
    font-family: var(--work-sans);
}


.department-footer h1 {
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 1em;
}

.department-footer button {
    font-family: var(--roboto);
    border-radius: 4px;
    font-size: .75em;
    padding: 0.75rem 0.875rem;
    border: none;
    background-color: var(--doctors-color);
    color: #fff;
    margin-bottom: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.department-footer button:hover {
    cursor: pointer;
}

footer {
    font-size: 0.75rem;
    color: #ababab;
    font-family: var(--roboto);
    margin-top: 6rem;
}

footer p,
footer p a{
    margin: auto;
    text-align: center;
    text-decoration: none;
}

footer p:nth-last-child(1) {
    padding-top: 2em;
    color: #ababab;
    margin-bottom: 1em;
}


